.product-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size:1.2rem;

  .product-list-left {
    display: flex;
    align-items: center;

    .product-list-left-text {
      margin-left: 10px;
      font-weight: bold;
    }
  }

  .product-list-middle {
    width: 30%;
    display: flex;
    input {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: none;
      outline: none;
    }
    button{
        border: none;
        margin-left: 5px;
        &:hover{
            cursor: pointer;
        }
    }
  }

  .product-list-right {
    display: flex;
    align-items: center;

    .product-list-right-text {
      margin-right: 10px;
      font-weight: bold;
    }

    .product-list-right-dropdown {
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;

      option {
        background-color: #f5f5f5;
      }
    }
  }
}
